<div class="row">
    
    
    
    <div class="col-md-6">One chart here
        <pre>{{userList | json}}</pre>
        
        total pages: {{totalPages}}
    
        date test: {{yyyy}}
    
    </div>
    
    
    
    <div class="col-md-6">Another chart here? annd The facebook login button
        <br>

        <div ng-show="firebaseUser">
            <p>Hello, {{ firebaseUser.displayName }}<br>
                Submit your daily pledge to read a number of pages of Srila Prabhupada's book below:
            </p>
            
            <input type="number" ng-hide="otherMode" ng-model="pledge.pages"/>
            <button type="button" class="btn btn-success" ng-click="showConfirmation(pledge.pages)">Submit</button>
            
            <h5>You're currently pledging {{pledge.pages}} pages a day</h5><br>
            
            <button type="button" class="btn btn-success" ng-click="reportDailyScore()">Click to Verify That You Read {{pledge.pages}} today</button>
            <button type="button" class="btn btn-warning" ng-click="otherAmount()">Read a different amount?</button>
            <input type="number" ng-show="otherMode" ng-model="other.pages"/>
            

            
        </div>
        <div ng-hide="firebaseUser">
            <p>Pledge Today</p>
            <button type="button" class="btn btn-primary-outline" ng-click="auth.$signInWithPopup('facebook')">
                <span class="icon icon-facebook"></span>Sign Up
            </button>
        </div>

            
        <img ng-src="{{firebaseUser.photoURL}}"/>
            


        <pre>{{firebaseUser | json}}
</pre>

    </div>
</div>